# Ignore everything
**/*.*
/!build/*
/!install/*
/!installers/*

# LIB_RenderGraph SOURCE FILES
!/LIB_RenderGraph/include/**/*[.h, .hh, .hpp, hxx, .inl, .ixx]
!/LIB_RenderGraph/src/**/*[.c, .h, .cc, .hh, .inl, .cpp, .hpp, .cxx, .hxx, .cppm, ixx]
!/LIB_RenderGraph/tests/**/*[.c, .h, .cc, .hh, .inl, .cpp, .hpp, .cxx, .hxx, .cppm, ixx]
!/LIB_RenderGraph/CMakeLists.txt

# SAMPLES SOURCE FILES
!/SAMPLES/*/**/*[.c, .h, .cc, .hh, .cpp, .hpp, .cxx, .hxx, .cppm, ixx]
!/SAMPLES/CMakeLists.txt

# Include common project files
!/~vendor/include/**/*[.h, .hh, .hpp, hxx, .inl, .ixx]

!/~vendor/include/suppress-warnings/[README|Readme|readme]*
!/~vendor/include/suppress-warnings/scripts/*.ps1

!/.clang-*
!/CMakeLists.txt
!/CMakePresets.json
!/vcpkg.json

# Include common files
!/~scripts/*[.ps1, .cmake]

!/[Readme|README|readme]*
!/License*
!/.git*

!/.github/workflows/*.yml
